---
import "../styles/base.css";

import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";

export interface Props {
  title: string;
  description: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title: _title, description } = Astro.props;
const title = `${_title} => Eons :: IO ()`;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="/favicon.ico" rel="icon" />
    <link rel="alternate icon" href="/icon-192.png" sizes="192x192" type="image/png" />
    <link rel="alternate icon" href="/icon-512.png" sizes="512x512" type="image/png" />
    <link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" />

    <link href="/humans.txt" rel="author" />
    <meta content="Sondre Aasemoen" name="author" />
    <link rel="me" href="https://fosstodon.org/@sondre" />

    <link
      as="font"
      crossorigin="anonymous"
      href="/fonts/Piazzolla.woff2"
      rel="preload"
      type="font/woff2"
    />
    <link
      as="font"
      crossorigin="anonymous"
      href="/fonts/Inconsolata.woff2"
      rel="preload"
      type="font/woff2"
    />

    <title>{title}</title>
    <meta content={description} name="description" />
    <link href={canonicalURL} rel="canonical" />

    <meta content="en" property="og:locale" />
    <meta content="website" property="og:type" />
    <meta content={title} property="og:title" />
    <meta content={description} property="og:description" />
    <meta content={canonicalURL} property="og:url" />
    <!-- <meta property="og:image" /> -->
    <!-- <meta content="2020-12-12" property="article:published_time" /> -->
    <!-- <meta content="2022-01-10" property="article:modified_time" /> -->
    <!-- <meta content="summary_large_image" name="twitter:card" /> -->

    <meta content="sondr3" name="twitter:site" />
  </head>
  <body
    class="h-full bg-white oldstyle-nums proportional-nums transition-colors duration-300 [font-optical-sizing:auto] dark:bg-slate-900"
  >
    <Navbar />
    <slot />
    <Footer />
    <script is:inline>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }

      function toggle() {
        if (document.documentElement.classList.contains("dark")) {
          document.documentElement.classList.remove("dark");
          window.localStorage.setItem("theme", "light");
        } else {
          document.documentElement.classList.add("dark");
          window.localStorage.setItem("theme", "dark");
        }
      }

      document
        .querySelectorAll(".theme-toggle")
        .forEach((e) => e.addEventListener("click", toggle));
    </script>
  </body>
</html>
